<!DOCTYPE html>
  <head>
    <title>Day 60</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>

  <body>
    <section>
      <div class="container">
        <form action="{{ url_for('receive_data') }}" method="post" id="my-form">

          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
          </div>

          <div class="form-group">
            <label for="latsName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
          </div>

          <div class="form-group">
            <label for="massage">Massage</label>
            <textarea name="massage" id="massage" cols="30" rows="10"></textarea>
          </div>

          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
  </body>
</html>